.workflow,.workflow .parent-node{position:relative}.parent-workflow{display:flex;overflow:hidden;touch-action:none;outline:0}.workflow{width:100%;height:100%;user-select:none}.workflow .workflow-node{display:flex;align-items:center;position:absolute;background:#0ff;width:160px;min-height:40px;border-radius:4px;border:2px solid #000;color:#000;z-index:2;padding:15px}.workflow .workflow-node.selected{background:red}.workflow .workflow-node:hover{cursor:move}.workflow .workflow-node .inputs,.workflow .workflow-node .outputs{width:0}.workflow .workflow-node .workflow_content_node{width:100%;display:block}.workflow .workflow-node .input,.workflow .workflow-node .output{position:relative;width:20px;height:20px;background:#fff;border-radius:50%;border:2px solid #000;cursor:crosshair;z-index:1;margin-bottom:5px}.workflow .workflow-node .input{left:-27px;top:2px;background:#ff0}.workflow .workflow-node .output{right:-3px;top:2px}.workflow svg{z-index:0;position:absolute;overflow:visible!important}.workflow .connection{position:absolute;transform:translate(9999px,9999px)}.workflow .connection .main-path{fill:none;stroke-width:5px;stroke:#4682b4;transform:translate(-9999px,-9999px)}.workflow .connection .main-path:hover{stroke:#1266ab;cursor:pointer}.workflow .connection .main-path.selected{stroke:#43b993}.workflow .connection .point{cursor:move;stroke:#000;stroke-width:2;fill:#fff;transform:translate(-9999px,-9999px)}.workflow .connection .point.selected,.workflow .connection .point:hover{fill:#1266ab}.workflow .main-path{fill:none;stroke-width:5px;stroke:#4682b4}.workflow .selectbox{z-index:3;position:absolute;transform:translate(9999px,9999px)}.workflow .selectbox rect{fill:#00f;opacity:.5;stroke:#ff0;stroke-width:5;stroke-opacity:.5;transform:translate(-9999px,-9999px)}.workflow-delete{position:absolute;display:block;width:30px;height:30px;background:#000;color:#fff;z-index:4;border:2px solid #fff;line-height:30px;font-weight:700;text-align:center;border-radius:50%;font-family:monospace;cursor:pointer}.workflow>.workflow-delete{margin-left:-15px;margin-top:15px}.parent-node .workflow-delete{right:-15px;top:-15px}
:root {
  --border-color: #cacaca;
  --background-color: #ffffff;

  --background-box-title: #f7f7f7;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 66px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
}
header h2 {
  margin: 0px;
  line-height: 66px;
}
header a {
  color: black;
}
.them-edit-link {
  position: absolute;
  top: 10px;
  right: 100px;
  color: black;
  font-size: 40px;
}
.them-edit-link a {
  text-decoration: none;
}

.github-link{
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 67px);
  display: flex;
}

.col {
  overflow: auto;
  width: 300px;
  height: 100%;
  border-right: 1px solid var(--border-color);
}

.menu {
  position: absolute;
  height: 40px;
  display: block;
  background: white;
  width: 100%;
}
.menu ul {
  padding: 0px;
  margin: 0px;
  line-height: 40px;
}

.menu ul li {
  display: inline-block;
  margin-left: 10px;
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer;
}

.menu ul li.selected {
  font-weight: bold;
}

.btn-export {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid #0e5ba3;
  background: #4ea9ff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-clear,.btn-save {
  float: right;
  position: absolute;
  top: 10px;
  right: 150px;
  color: white;
  font-weight: bold;
  border: 1px solid #96015b;
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}
.btn-save{
  right: 25px;
  border:1px solid #27ae60;
  background:#27ae60;
}
.swal-wide{
  width:80% !important;
}

.btn-lock {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 140px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
  cursor: pointer;
}

.bar-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
}
.bar-zoom svg {
  cursor: pointer;
  margin:0 5px;
}


#workflow {
  position: relative;
  width: calc(100vw - 301px);
  height: calc(100% - 50px);
  top: 40px;
  background: var(--background-color);
  background-size: 25px 25px;
  background-image:
          linear-gradient(to right, #f1f1f1 1px, transparent 1px),
          linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
  .col {
    width: 50px;
  }
  .col .drag-workflow span {
    display:none;
  }
  #workflow {
    width: calc(100vw - 51px);
  }
}

/* Editing workflow */

.workflow .workflow-node {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
  box-shadow: 0 2px 15px 2px var(--border-color);
  padding: 0;
  width: 250px;
}

.workflow .workflow-node.selected  {
  background: white;
  border: 1px solid #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}

.workflow .workflow-node.selected .title-box {
  color: #22598c;
  /*border-bottom: 1px solid #4ea9ff;*/
}

.workflow .connection .main-path {
  stroke: #4ea9ff;
  stroke-width: 3px;
}

.workflow .workflow-node .input, .workflow .workflow-node .output {
  height: 15px;
  width: 15px;
  border: 2px solid var(--border-color);
}

.workflow .workflow-node .input:hover, .workflow .workflow-node .output:hover {
  background: #4ea9ff;
}

.workflow .workflow-node .output {
  right: 10px;
}

.workflow .workflow-node .input {
  left: -10px;
  background: white;
}

.workflow > .workflow-delete {
  border: 2px solid #43b993;
  background: white;
  color: #43b993;
  -webkit-box-shadow: 0 2px 20px 2px #43b993;
  box-shadow: 0 2px 20px 2px #43b993;
}

.workflow-delete {
  border: 2px solid #4ea9ff;
  background: white;
  color: #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}

.workflow-node .title-box {
  h6{
    margin: 0;
    font-size: 16px;
  }
  p{
    margin: 0;
  }
  line-height: 25px;
  background: var(--background-box-title);
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0px 0px;
  padding-left: 10px;
}
.workflow .title-box svg {
  position: initial;
}
.workflow-node .box {
  padding: 10px 20px 20px 20px;
  font-size: 14px;
  color: #555555;
  font-weight: 600;
  &__target{
    font-size: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #BDC3C7;
  }
  &__action{
    padding: 5px 0;
    font-size: 15px;
  }
}
.workflow-node .box p {
  margin: 0;
}

.workflow-node.welcome {
  width: 250px;
}

.workflow-node.slack .title-box {
  border-radius: 4px;
}

.workflow-node input, .workflow-node select, .workflow-node textarea {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  width: 158px;
  color: #555555;
}

.workflow-node textarea {
  height: 100px;
}


.workflow-node.personalized {
  background: red;
  height: 200px;
  text-align: center;
  color: white;
}
.workflow-node.personalized .input {
  background: yellow;
}
.workflow-node.personalized .output {
  background: green;
}

.workflow-node.personalized.selected {
  background: blue;
}

.workflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: white;
  transform: translate(-9999px, -9999px);
}

.workflow .connection .point.selected, .workflow .connection .point:hover {
  fill: #4ea9ff;
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);

}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor:pointer;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}

.flow{
  display: flex;
  $color-gray:#bdc3c7;
  $color-blue:#3498db;
  $color-red:#c0392b;
  $color-green:#27ae60;
  &__sidebar{
    flex: 0 0 290px;
    padding: 5px;
    border-right: 1px solid $color-gray;
  }
  &__draw {
    flex-grow: 1;
    position: relative;
    height: 100vh;
    background-size: 25px 25px;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px), linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
  }
}
